<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">CodeSail</a>

    <div class="navbar-toggle" id="mobile-menu" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <ul class="navbar-menu" [class.active]="isMenuOpen">
      <li><a href="#" class="navbar-link">Lesson 1</a></li>
      <li><a href="#" class="navbar-link">Lesson 2</a></li>
      <li><a href="#" class="navbar-link">Lesson 3</a></li>
      <li><a href="#" class="navbar-link">Lesson 4</a></li>
      <li><a href="#" class="navbar-link">Lesson 5</a></li>
      <li><a href="#" class="navbar-link">Lesson 6</a></li>
      <li><a href="#" class="navbar-link">Lesson 7</a></li>
      <li><a href="#" class="navbar-link">Lesson 8</a></li>
      <li><a href="#" class="navbar-link">Lesson 9</a></li>
      <li><a href="#" class="navbar-link">Lesson 10</a></li>
    </ul>
  </div>
</nav>

<main>
  <router-outlet />
</main>
